@page "/shows/{ShowId:int}"
@using FMFT.Extensions.Blazor.Bases.Carousels
@using FMFT.Extensions.Blazor.Bases.Conditions
@using FMFT.Extensions.Blazor.Bases.MarkdownEditors;

<MainLayoutBody>
    <Breadcrumb>
        <BreadcrumbItem Link="/">
            Home
        </BreadcrumbItem>
        <BreadcrumbItem Link="/shows">
            Wydarzenia
        </BreadcrumbItem>
        <BreadcrumbItem Active="true">
            @ShowName
        </BreadcrumbItem>
    </Breadcrumb>

    <LoadingView @ref="LoadingView">
        <Condition Evaluation="ShowResponse.IsSuccessful && AuditoriumResponse.IsSuccessful && ShowGalleryResponse.IsSuccessful && ShowProductsResponse.IsSuccessful">
            <Match>

                <div class="row">

                    <div class="col-lg-4 order-lg-1 order-0 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="fs-5">
                                    @Show.Name
                                </div>
                                <ul class="list-unstyled text-muted mb-0">
                                    <li>
                                        <i class="fa-regular fa-calendar-days me-1"></i>
                                        <span class="fw-bold">@Show.StartDateTime.LocalDateTime.ToLongDateString()</span>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-clock me-1"></i>
                                        <span class="fw-bold">@Show.StartDateTime.LocalDateTime.ToShortTimeString()</span>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-building me-1"></i>
                                        <span class="fw-bold">@Auditorium.Name</span>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-person me-1"></i>
                                        <span class="fw-bold">@Show.ReservedSeats.Count / @Auditorium.Seats.Count</span>
                                    </li>
                                    <Condition Evaluation="CheapestShowProduct != null">
                                        <Match>
                                            <li>
                                                <i class="fa-solid fa-coins me-1"></i>
                                                <span class="fw-bold">od @CheapestShowProduct.Price.ToString("N2") zł</span>
                                            </li>
                                        </Match>
                                    </Condition>
                                </ul>
                            </div>

                            <div class="list-group list-group-flush">
                                <Condition Evaluation="Show.IsPast()">
                                    <NotMatch>
                                        <Condition Evaluation="Show.IsSellDisabled()">
                                            <Match>
                                                <div class="list-group-item list-group-item-secondary small">
                                                    Sprzedaż rozpocznie się
                                                    <span class="fw-bold">@Show.SellStartDateTime.LocalDateTime.ToShortDateString() @Show.SellStartDateTime.LocalDateTime.ToShortTimeString()</span>
                                                </div>
                                                <div class="list-group-item list-group-item-action list-group-item-success disabled">
                                                    <i class="fa-solid fa-ticket me-1"></i>
                                                    Kup bilety
                                                </div>
                                            </Match>
                                            <NotMatch>
                                                <a class="list-group-item list-group-item-action list-group-item-success" href="/shows/@ShowId/order">
                                                    <i class="fa-solid fa-ticket me-1"></i>
                                                    Kup bilety
                                                </a>
                                            </NotMatch>
                                        </Condition>
                                        
                                    </NotMatch>
                                    <Match>
                                        <div class="list-group-item list-group-item-info">
                                            To wydarzenie już się odbyło
                                        </div>
                                    </Match>
                                </Condition>
                            </div>
                                                     
                        </div>
                    </div>

                    <div class="col-lg-8 order-lg-0 order-1 mb-3">
                        <Condition Evaluation="ShowGallery.Any() || Show.ThumbnailMediaId.HasValue">
                            <Match>
                                <div class="mb-3">
                                    <Carousel>
                                        <CarouselItem>
                                            <div class="carousel-item active">
                                                <img src="@MediaService.GetMediaUrl(Show.ThumbnailMediaId.GetValueOrDefault())" style="max-height: 100%; max-width: 100%;" />
                                            </div>
                                        </CarouselItem>
                                        
                                        <Iterations Items="ShowGallery" Context="showGallery">
                                            <CarouselItem>
                                                <div class="carousel-item">
                                                    <img src="@MediaService.GetMediaUrl(showGallery.MediaId)" style="max-height: 100%; max-width: 100%;" />
                                                </div>                                                
                                            </CarouselItem>
                                        </Iterations>

                                    </Carousel>
                                </div>
                            </Match>
                        </Condition>
                        
                        <div class="card">
                            <div class="card-header">
                                Szczegóły wydarzenia
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">
                                    @Show.Name
                                </h4>
                                <p>
                                    @Description
                                </p>
                            </div>
                            <Condition Evaluation="Show.IsPast()">
                                <NotMatch>                                    
                                    <div class="list-group list-group-flush">
                                        <Condition Evaluation="Show.IsSellDisabled()">
                                            <Match>
                                                <div class="list-group-item list-group-item-action list-group-item-success disabled">
                                                    <i class="fa-solid fa-ticket me-1"></i>
                                                    Kup bilety
                                                </div>
                                            </Match>
                                            <NotMatch>
                                                <a class="list-group-item list-group-item-action list-group-item-success" href="/shows/@ShowId/order">
                                                    <i class="fa-solid fa-ticket me-1"></i>
                                                    Kup bilety
                                                </a>
                                            </NotMatch>
                                        </Condition>
                                    </div>
                                </NotMatch>
                            </Condition>                            
                        </div>
                    </div>
                </div>

                
                
            </Match>
            <NotMatch>
                <Switch Expression="ErrorCode">
                    <SwitchCase Value="@("ERR014")">
                        <InfoAlert>
                            Wydarzenie nie istnieje
                        </InfoAlert>
                    </SwitchCase>
                    <DefaultSwitchCase>
                        <ErrorResponseAlert />
                    </DefaultSwitchCase>
                </Switch>           
            </NotMatch>
        </Condition>
    </LoadingView>
</MainLayoutBody>