@page "/shows/{ShowId:int}"

<MainLayoutBody>
    <Breadcrumb>
        <BreadcrumbItem Link="/">
            Home
        </BreadcrumbItem>
        <BreadcrumbItem Link="/shows">
            Przedstawienia
        </BreadcrumbItem>
        <BreadcrumbItem Active="true">
            @ShowName
        </BreadcrumbItem>
    </Breadcrumb>

    <LoadingView @ref="LoadingView">
        <Condition Evaluation="ShowResponse.IsSuccessful && AuditoriumResponse.IsSuccessful">
            <Match>

                <div class="row">

                    <div class="col-lg-4 order-lg-1 order-0 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="fs-5">
                                    @Show.Name
                                </div>
                                <ul class="list-unstyled text-muted mb-0">
                                    <li>
                                        <i class="fa-regular fa-calendar-days me-1"></i>
                                        <span class="fw-bold">@Show.StartDateTime.LocalDateTime.ToLongDateString()</span>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-clock me-1"></i>
                                        <span class="fw-bold">@Show.StartDateTime.LocalDateTime.ToShortTimeString()</span>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-building me-1"></i>
                                        <span class="fw-bold">@Auditorium.Name</span>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-person me-1"></i>
                                        <span class="fw-bold">@Show.ReservedSeats.Count / @Auditorium.Seats.Count</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action list-group-item-primary" href="/shows/@ShowId/reserve">
                                    <i class="fa-solid fa-ticket me-1"></i>
                                    Zarezerwuj miejsce
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 order-lg-0 order-1 mb-3">
                        <div class="mb-3">
                            <div id="carouselGallery" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                <div class="carousel-inner rounded-2" style="max-height: 450px;">
                                    <div class="carousel-item active">
                                        <img src="@MediaService.GetMediaUrl(Show.ThumbnailMediaId.Value)" style="max-height: 100%; max-width: 100%;" />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="@MediaService.GetMediaUrl(Show.ThumbnailMediaId.Value)" style="max-height: 100%; max-width: 100%;" />
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselGallery" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselGallery" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                Szczegóły przedstawienia
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">
                                    @Show.Name
                                </h4>
                                <p class="text-muted">
                                    <div>
                                        Data: <span class="fw-bold">@Show.StartDateTime.LocalDateTime.ToShortDateString()</span>
                                    </div>
                                    <div>
                                        Godzina: <span class="fw-bold">@Show.StartDateTime.LocalDateTime.ToShortTimeString()</span>
                                    </div>
                                </p>
                                <div class="mb-2">
                                    <div class="fw-bold">
                                        Opis
                                    </div>
                                    <div>
                                        @Show.Description
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div class="fw-bold">
                                        Sala
                                    </div>
                                    <div>
                                        @Auditorium.Name
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div class="fw-bold">
                                        Liczba miejsc (wolne / wszystkie)
                                    </div>
                                    <div>
                                        @(Auditorium.Seats.Count - Show.ReservedSeats.Count) / @Auditorium.Seats.Count
                                    </div>
                                </div>
                            </div>
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action list-group-item-primary" href="/shows/@ShowId/reserve">
                                    <i class="fa-solid fa-ticket me-1"></i>
                                    Zarezerwuj miejsce
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                
                
            </Match>
            <NotMatch>
                <ErrorResponseAlert />
            </NotMatch>
        </Condition>
    </LoadingView>
</MainLayoutBody>