@page "/shows/{ShowId:int}/reserve"
@using FMFT.Extensions.Blazor.Bases.Conditions
@using FMFT.Extensions.Blazor.Bases.Steppers
@using BlazorPanzoom
@using FMFT.Web.Client.Views.Shared.Components.Panzooms

<MainLayoutBody>


    <div class="d-none d-md-block">
        <Breadcrumb>
            <BreadcrumbItem Link="/" Class="d-none d-md-block">
                Home
            </BreadcrumbItem>
            <BreadcrumbItem Link="/shows" Class="d-none d-md-block">
                Wydarzenia
            </BreadcrumbItem>
            <BreadcrumbItem Link="@string.Concat("/shows/", ShowId)">
                @ShowName
            </BreadcrumbItem>
            <BreadcrumbItem Active="true" Class="d-none d-md-block">
                Zarezerwuj
            </BreadcrumbItem>
        </Breadcrumb>
    </div>
    <div class="d-block d-md-none">
        <div class="mb-2 fs-5">
            @ShowName
        </div>
    </div>    

    <CustomAuthorizeView>
        <Authorized>
            <LoadingView @ref="LoadingView">
                <Condition Evaluation="ShowResponse.IsSuccessful && AuditoriumResponse.IsSuccessful && UserReservationsResponse.IsSuccessful">
                    <Match>

                        <Condition Evaluation="UserReservation is not null">
                            
                            <Match>
                                <InfoAlert>
                                    Posiadasz już rezerwację na to wydarzenie. Przejdź do rezerwacji klikając <a href="/account/reservations/@UserReservation.Id">tutaj</a>
                                </InfoAlert>
                            </Match>

                            <NotMatch>

                                <Stepper @ref="Stepper">
                                    <StepperItem Text="Wybierz miejsce">

                                        <Condition Evaluation="showSelectSeats">

                                            <NotMatch>
                                                <div class="mb-3">
                                                    <div class="fs-3 mb-2">
                                                        Podaj ilość miejsc
                                                    </div>
                                                    <div class="mb-2">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        Rodzaj biletu
                                                                    </th>
                                                                    <th>
                                                                        Ilość
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="align-middle">
                                                                        Normalny
                                                                    </td>
                                                                    <td class="align-middle">
                                                                        <InputSelect @bind-Value="TicketsCount" class="form-select">
                                                                            @for (int i = 1; i <= MaxSeats; i++)
                                                                            {
                                                                                <option value="@i">@i</option>
                                                                            }
                                                                        </InputSelect>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <a class="btn btn-secondary" href="/shows/@Show.Id">
                                                            Zrezygnuj
                                                        </a>
                                                        <div class="ms-auto">
                                                            <button class="btn btn-primary" @onclick="HandleShowSelectSeats">
                                                                Przejdź dalej
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </NotMatch>

                                            <Match>
                                                <div class="mb-3">
                                                    <div class="d-md-flex d-block align-items-center">
                                                        <div class="fs-3 mb-2 mb-md-0">
                                                            Wybierz @TicketsCountString()
                                                        </div>
                                                        <div class="ms-md-auto d-md-flex d-block align-items-center">
                                                            <div class="me-md-1 w-100 w-md-auto mb-1 mb-md-0">
                                                                <button class="btn btn-secondary w-100" @onclick="HandleHideSelectSeats">
                                                                    Powrót
                                                                </button>
                                                            </div>
                                                            <div class="w-100 w-md-auto">
                                                                <button class="btn btn-primary text-nowrap w-100" @onclick="NextToConfirmAsync" disabled="@(!HasSelectedSeats)">
                                                                    Przejdź dalej
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="mb-3">
                                                    <AuditoriumSeatPanzoom Auditorium="Auditorium" ReservedSeats="Show.ReservedSeats" MaxAmount="TicketsCount" @bind-SelectedSeats="SelectedSeats" />
                                                </div>

                                                <div class="card mb-3">
                                                    <div class="card-header">
                                                        Legenda
                                                    </div>
                                                    <div class="card-body">
                                                        <ul>
                                                            <li>
                                                                zielony - wolne miejsca
                                                            </li>
                                                            <li>
                                                                pomarańczowy - wybrane miejsce
                                                            </li>
                                                            <li>
                                                                fioletowy - miejsca zarezerwowane dla vipów
                                                            </li>
                                                            <li>
                                                                szary - miejsca zajęte
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <Condition Evaluation="SelectedSeats is not null">
                                                    <Match>
                                                        <div class="d-flex align-items-center">
                                                            <button class="btn btn-secondary" @onclick="HandleHideSelectSeats">
                                                                Powrót
                                                            </button>
                                                            <div class="ms-auto">
                                                                <button class="btn btn-primary" disabled="@(!HasSelectedSeats)" @onclick="NextToConfirmAsync">
                                                                    Przejdź dalej
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </Match>
                                                </Condition>
                                            </Match>

                                        </Condition>



                                    </StepperItem>
                                    <StepperItem Text="Potwierdź">
                                        <div class="card mb-3">
                                            <div class="card-body">
                                                <div class="">
                                                    <div class="fs-5 mb-2">
                                                        Miejsca (@SelectedSeats.Count)
                                                    </div>

                                                    <Iterations Items="SelectedSeats.OrderBy(x => x.Row).GroupBy(x => x.Row)" Context="row">
                                                        <ul>
                                                            <li>Rząd @row.Key</li>
                                                            <li>Numer @(string.Join(", ", row.Select(x => x.Number.ToString()).Order()))</li>
                                                        </ul>
                                                    </Iterations>

                                                </div>

                                                <div class="">
                                                    <div class="fs-5 mb-2">
                                                        Informacje o wydarzeniu
                                                    </div>
                                                    <ul>
                                                        <li>@Show.Name</li>
                                                        <li>Data: @Show.StartDateTime.LocalDateTime.ToShortDateString()</li>
                                                        <li>Godzina: @Show.StartDateTime.LocalDateTime.ToShortTimeString()</li>
                                                        <li>Miejsce wydarzenia: @Auditorium.Name</li>
                                                    </ul>
                                                </div>

                                                <div>
                                                    <div class="d-flex">
                                                        <div>
                                                            <ButtonBase @ref="BackButton" Class="btn btn-secondary" OnClick="BackToSelectAsync">
                                                                Powrót
                                                            </ButtonBase>
                                                        </div>
                                                        <div class="ms-auto">
                                                            <ButtonBase @ref="ConfirmButton" Class="btn btn-primary" OnClick="HandleConfirmAsync" SpinningText="Przetwarzanie...">
                                                                Potwierdź i zarezerwuj
                                                            </ButtonBase>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </StepperItem>
                                    <StepperItem Text="Podsumowanie">
                                        <div class="card">
                                            <div class="card-body">
                                                <Condition Evaluation="ReservationResponse.IsSuccessful">
                                                    <Match>
                                                        <div class="mb-2">
                                                            <div class="fs-5 text-success">
                                                                Udało się!
                                                            </div>
                                                            <div>
                                                                Składanie rezerwacji przebiegło pomyślnie
                                                            </div>
                                                        </div>

                                                        <div class="mb-2">
                                                            <ul class="list-unstyled mb-0">
                                                                <li>
                                                                    <span class="fw-bold">ID rezerwacji:</span> @Reservation.Id
                                                                </li>
                                                                <li>
                                                                    <span class="fw-bold">Wydarzenie:</span> @Reservation.Show.Name
                                                                </li>
                                                                <li>
                                                                    <span class="fw-bold">Miejsca:</span>
                                                                    <ul>
                                                                        <Iterations Items="Reservation.Seats.OrderBy(x => x.Seat.Row).ThenBy(x => x.Seat.Number)" Context="seat">
                                                                            <li>
                                                                                Rząd @seat.Seat.Row Numer @seat.Seat.Number
                                                                            </li>
                                                                        </Iterations>
                                                                    </ul>
                                                                </li>


                                                            </ul>
                                                        </div>
                                                        <div>
                                                            <a href="/account/reservations/@Reservation.Id" class="text-decoration-none">
                                                                <i class="fa-solid fa-arrow-right"></i>
                                                                Przejdź do rezerwacji
                                                            </a>
                                                        </div>
                                                    </Match>
                                                    <NotMatch>
                                                        <div class="fs-5 text-danger">
                                                            Nie powiodło się
                                                        </div>
                                                        <div class="mb-2">
                                                            <Switch Expression="ReservationResponse.Error.Code">
                                                                <SwitchCase Value="@("ERR019")">
                                                                    <div>
                                                                        Złożyłeś już rezerwację na to wydarzenie. <br />
                                                                        Jeżeli chcesz zmienić miejsce anuluj obecną rezerwację.
                                                                    </div>
                                                                </SwitchCase>
                                                                <SwitchCase Value="@("ERR018")">
                                                                    <div>
                                                                        Miejsce które wybrałeś jest już niedostępne. Spróbuj ponownie
                                                                    </div>
                                                                </SwitchCase>
                                                                <DefaultSwitchCase>
                                                                    <ErrorResponseAlert />
                                                                </DefaultSwitchCase>
                                                            </Switch>
                                                        </div>
                                                        <div>
                                                            <a href="/" class="text-decoration-none">
                                                                <i class="fa-solid fa-house"></i>
                                                                Powrót do strony głównej
                                                            </a>
                                                        </div>
                                                    </NotMatch>
                                                </Condition>
                                            </div>
                                        </div>
                                    </StepperItem>
                                </Stepper>

                            </NotMatch>

                        </Condition>

                        

                    </Match>
                    <NotMatch>
                        <ErrorResponseAlert />
                    </NotMatch>
                </Condition>
            </LoadingView>
        </Authorized>
        <NotAuthorized>
            <NotAuthenticatedAlert />
        </NotAuthorized>
    </CustomAuthorizeView>
    
</MainLayoutBody>

