@page "/account"

<Breadcrumb>
    <BreadcrumbItem Link="/">
        Home
    </BreadcrumbItem>
    <BreadcrumbItem Active="true">
        Konto
    </BreadcrumbItem>
</Breadcrumb>

<Condition Evaluation="UserAccountState.IsAuthenticated">
    <Match>
        <div class="card">
            <div class="card-header">
                Informacje o koncie
            </div>
            <div class="list-group list-group-flush">
                <div class="list-group-item">
                    <span class="fw-bold">
                        ID:
                    </span>
                    <span>
                        @UserAccountState.UserAccount.UserId
                    </span>
                </div>
                <div class="list-group-item">
                    <span class="fw-bold">
                        Email:
                    </span>
                    <span>
                        @UserAccountState.UserAccount.Email
                    </span>
                </div>
                <div class="list-group-item">
                    <span class="fw-bold">
                        Imię:
                    </span>
                    <span>
                        @UserAccountState.UserAccount.FirstName
                    </span>
                </div>
                <div class="list-group-item">
                    <span class="fw-bold">
                        Nazwisko:
                    </span>
                    <span>
                        @UserAccountState.UserAccount.LastName
                    </span>
                </div>
                <div class="list-group-item">
                    <span class="fw-bold">
                        Typ użytkownika:
                    </span>
                    <span>
                        @UserAccountState.UserAccount.Role
                    </span>
                </div>
                <a class="list-group-item list-group-item-action" href="/account/reservations">
                    <i class="fa-solid fa-arrow-right-long me-1"></i>
                    Przejdź do rezerwacji
                </a>
            </div>
        </div>
        
    </Match>
    <NotMatch>
        <RedirectAlert Link="/account/login" />
    </NotMatch>
</Condition>

