@page "/account/reservations"

<Breadcrumb>
    <BreadcrumbItem Link="/">
        Home
    </BreadcrumbItem>
    <BreadcrumbItem Link="/account">
        Konto
    </BreadcrumbItem>
    <BreadcrumbItem Active="true">
        Rezerwacje
    </BreadcrumbItem>
</Breadcrumb>

<LoadingView @ref="LoadingView">
    <Condition Evaluation="ReservationsResponse.IsSuccessful">
        <Match>
            <Condition Evaluation="Reservations.Any()">
                <Match>
                    

                    <div class="mb-2 text-muted">
                        Twoje rezerwacje
                    </div>

                    <div class="list-group">
                        <Iterations Items="Reservations.OrderByDescending(x => x.CreateDate)">
                            <a class="list-group-item list-group-item-action @GetClasses(context)" href="/account/reservations/@context.Id">
                                <div class="d-flex align-items-center">
                                    <div class="small">
                                        <div class="fw-bold">
                                            @context.Id
                                        </div>
                                        <div>
                                            <Condition Evaluation="@context.IsCanceled"> 
                                                <Match>
                                                    Anulowana
                                                </Match>
                                                <NotMatch>
                                                    Ważna
                                                </NotMatch>
                                            </Condition>
                                        </div>
                                    </div>
                                    <div class="ms-auto text-end small">
                                        <div>
                                            @context.Show.Name
                                        </div>
                                        <div>
                                            @context.Show.StartDateTime.LocalDateTime.ToShortDateString()
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </Iterations>
                    </div>
                </Match>
                <NotMatch>
                    <InfoAlert>
                        Nie posiadasz żadnych rezerwacji
                    </InfoAlert>
                </NotMatch>
            </Condition>
            
        </Match>
        <NotMatch>
            <ErrorResponseAlert />
        </NotMatch>
    </Condition>
</LoadingView>
