@page "/account/reservations/{ReservationId}"
@using FMFT.Extensions.Blazor.Bases.Dialogs
@using FMFT.Web.Client.Views.Shared.Components.QRCodes

<MainLayoutBody>
    <Breadcrumb>
        <BreadcrumbItem Link="/">
            Home
        </BreadcrumbItem>
        <BreadcrumbItem Link="/account">
            Konto
        </BreadcrumbItem>
        <BreadcrumbItem Link="/account/reservations">
            Rezerwacje
        </BreadcrumbItem>
        <BreadcrumbItem Active="true">
            @ReservationId
        </BreadcrumbItem>
    </Breadcrumb>



    <CustomAuthorizeView>
        <Authorized>
            <LoadingView @ref="LoadingView">
                <Condition Evaluation="ReservationResponse.IsSuccessful">
                    <Match>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        Informacje o rezerwacji
                                    </div>
                                    <div class="list-group list-group-flush">
                                        <Condition Evaluation="Reservation.IsCanceled">
                                            <Match>
                                                <div class="list-group-item list-group-item-warning">
                                                    Ta rezerwacja została anulowana
                                                </div>
                                            </Match>
                                        </Condition>
                                        <div class="list-group-item">
                                            <span class="fw-bold">
                                                ID:
                                            </span>
                                            <span>
                                                @Reservation.Id
                                            </span>
                                        </div>
                                        <div class="list-group-item">
                                            <span class="fw-bold">
                                                Wydarzenie:
                                            </span>
                                            <span>
                                                @Reservation.Show.Name
                                            </span>
                                        </div>
                                        <div class="list-group-item">
                                            <span class="fw-bold">
                                                Data:
                                            </span>
                                            <span>
                                                @Reservation.Show.StartDateTime.LocalDateTime.ToShortDateString()
                                            </span>
                                        </div>
                                        <div class="list-group-item">
                                            <span class="fw-bold">
                                                Godzina:
                                            </span>
                                            <span>
                                                @Reservation.Show.StartDateTime.LocalDateTime.ToString("t")
                                            </span>
                                        </div>
                                        <a class="list-group-item list-group-item-action" href="/shows/@Reservation.Show.Id">
                                            <i class="fa-solid fa-arrow-right-long me-1"></i>
                                            Przejdź do wydarzenia
                                        </a>
                                    </div>
                                </div>
                                <div class="card mb-3">
                                    <div class="card-header">
                                        Miejsca (@Reservation.Seats.Count)
                                    </div>
                                    <div class="list-group list-group-flush">
                                        <Iterations Items="Reservation.Seats.OrderBy(x => x.Seat.Row).ThenBy(x => x.Seat.Number)" Context="seat">
                                            <div class="list-group-item d-flex align-items-center justify-content-between">
                                                Rząd @seat.Seat.Row Numer @seat.Seat.Number
                                                <div>
                                                    <button class="btn btn-outline-info btn-sm" @onclick="() => HandleSeatQRCodeDialogAsync(seat)" disabled="@Reservation.IsCanceled">
                                                        <i class="fa-solid fa-qrcode"></i>
                                                        QRCode
                                                    </button>
                                                </div>                                                
                                            </div>
                                        </Iterations>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        Zarządzaj rezerwacją
                                    </div>
                                    <div class="list-group list-group-flush">
                                        <button class="list-group-item list-group-item-action list-group-item-info" href="javascript:void(0)"
                                                @onclick="HandleQRCodeDialogAsync" disabled="@Reservation.IsCanceled">
                                            <i class="fa-solid fa-qrcode me-1"></i>
                                            Pokaż QRCode
                                        </button>
                                        <button class="list-group-item list-group-item-action list-group-item-warning" href="javascript:void(0)"
                                                @onclick="HandleCancelDialogAsync" disabled="@Reservation.IsCanceled">
                                            <i class="fa-solid fa-xmark me-1"></i>
                                            Anuluj rezerwację
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <ModalDialog @ref="CancelModalDialog" AlignCenter="true">
                            <Title>
                                Anuluj rezerwację
                            </Title>
                            <Body>
                                Czy napewno chcesz zrezygnować z rezerwacji na wydarzenie @Reservation.Show.Name?
                            </Body>
                            <Footer>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    Nie
                                </button>
                                <ButtonBase @ref="CancelButton" Class="btn btn-danger" OnClick="HandleCancelAsync">
                                    Tak
                                </ButtonBase>
                            </Footer>
                        </ModalDialog>

                        <ModalDialog @ref="QRCodeModalDialog" AlignCenter="false">
                            <Title>
                                QRCode rezerwacji
                            </Title>
                            <Body>
                                
                                <LoadingView @ref="ReservationQRCodeLoadingView">
                                    <Condition Evaluation="ReservationQRCodeResponse.IsSuccessful">
                                        <Match>
                                            <QRCodeImageView QRCodeImage="ReservationQRCodeResponse.Object" Class="img-thumbnail" />
                                        </Match>
                                        <NotMatch>
                                            <ErrorResponseAlert />
                                        </NotMatch>
                                    </Condition>
                                </LoadingView>

                            </Body>
                            <Footer>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    Zamknij
                                </button>
                            </Footer>
                        </ModalDialog>

                        <ModalDialog @ref="SeatQRCodeModalDialog" AlignCenter="false">
                            <Title>
                                QRCode miejsca
                            </Title>
                            <Body>

                                <LoadingView @ref="SelectedReservationSeatQRCodeLoadingView">
                                    <Condition Evaluation="SelectedReservationSeatQRCodeResponse.IsSuccessful">
                                        <Match>
                                            <QRCodeImageView QRCodeImage="SelectedReservationSeatQRCodeResponse.Object" Class="img-thumbnail" />
                                        </Match>
                                        <NotMatch>
                                            <ErrorResponseAlert />
                                        </NotMatch>
                                    </Condition>
                                </LoadingView>

                            </Body>
                            <Footer>
                                <ButtonBase @ref="DownloadTicketButton" Class="btn btn-outline-success me-auto" OnClick="HandleDownloadTicketAsync">
                                    <i class="fa-solid fa-download"></i>
                                    Pobierz bilet
                                </ButtonBase>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    Zamknij
                                </button>
                            </Footer>
                        </ModalDialog>

                    </Match>
                    <NotMatch>
                        <ErrorResponseAlert />
                    </NotMatch>
                </Condition>
            </LoadingView>
        </Authorized>
        <NotAuthorized>
            <NotAuthenticatedAlert />
        </NotAuthorized>
    </CustomAuthorizeView>
    
</MainLayoutBody>