<div class="row">
    <div class="col-lg-8">
        <div class="mb-3">
            <div class="fs-5 mb-2">
                Wybierz metodę płatności
            </div>
            <div class="dropdown-divider"></div>
            <div class="list-group">
                <label class="list-group-item d-flex align-items-center" style="cursor: pointer;">
                    <div>
                        <input class="form-check-input me-2" type="radio">
                    </div>
                    <div>
                        <span style="font-weight: 600;">Blik</span>
                    </div>
                    <div class="ms-auto d-inline-flex align-items-center">
                        <span style="height: 25px;" class="position-relative d-inline-flex align-items-center justify-content-center">
                            <img class="h-100 w-auto position-relative" src="/img/brandings/payments/blik.svg">
                        </span>
                    </div>
                </label>
                <label class="list-group-item d-flex align-items-center" style="cursor: pointer;">
                    <div>
                        <input class="form-check-input me-2" type="radio">
                    </div>
                    <div>
                        <span style="font-weight: 600;">Karta płatnicza</span>
                    </div>
                    <div class="ms-auto d-inline-flex align-items-center">
                        <span style="height: 25px;" class="position-relative d-inline-flex align-items-center justify-content-center">
                            <img class="w-auto position-relative me-2" style="max-height: 20px;" src="/img/brandings/payments/visa.svg">
                            <img class="h-100 w-auto position-relative" src="/img/brandings/payments/mastercard.svg">
                        </span>
                    </div>
                </label>    
                <label class="list-group-item d-flex align-items-center" style="cursor: pointer;">
                    <div>
                        <input class="form-check-input me-2" type="radio">
                    </div>
                    <div>
                        <span style="font-weight: 600;">Przelewy24</span>
                    </div>
                    <div class="ms-auto d-inline-flex align-items-center">
                        <span style="height: 25px;" class="position-relative d-inline-flex align-items-center justify-content-center">
                            <img class="h-100 w-auto position-relative" src="/img/brandings/payments/p24.svg">
                        </span>
                    </div>
                </label>
            </div>
        </div>
        <div class="mb-3">
            <div class="fs-5 mb-2">
                Informacje o wydarzeniu
            </div>
            <div class="dropdown-divider"></div>
            <div>
                <div class="small text-muted">
                    Nazwa
                </div>
                <div>
                    @Show.Name
                </div>
                <div class="small text-muted">
                    Data
                </div>
                <div>
                    @Show.StartDateTime.LocalDateTime.ToLongDateString()
                </div>
                <div class="small text-muted">
                    Godzina rozpoczęcia
                </div>
                <div>
                    @Show.StartDateTime.LocalDateTime.ToString("t")
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="fs-5 mb-2">
                Informacje o kupującym
            </div>
            <div class="dropdown-divider"></div>
            <div>
                <div class="small text-muted">
                    Imię i Nazwisko
                </div>
                <div>
                    @UserAccountState.UserAccount.FirstName @UserAccountState.UserAccount.LastName
                </div>
                <div class="small text-muted">
                    Adres Email
                </div>
                <div>
                    @UserAccountState.UserAccount.Email
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="fs-5 mb-2">
                Zgody formalne
            </div>
            <div class="dropdown-divider"></div>
            <div>
                <ul>
                    <li>
                        <a href="javascript:void(0)" class="text-decoration-none">
                            Regulamin Sklepu Internetowego
                        </a>                        
                    </li>
                </ul>
                <div class="form-check ms-2">
                    <input class="form-check-input" type="checkbox" id="TermsAndConditionsCheckbox" style="cursor: pointer;">
                    <label class="form-check-label" for="TermsAndConditionsCheckbox" style="cursor: pointer;">
                        Zgadzam się z warunkami sprzedaży i regulaminem sklepu<span class="text-danger fw-bold"> *</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="border p-2">
            <div class="list-group mb-2">
                <Iterations Items="OrderItems" Context="orderItem">
                    <div class="list-group-item d-flex align-items-center">
                        <div class="small">
                            <div>
                                @orderItem.ShowProduct.Name
                            </div>
                            <div>
                                <span>x</span>@orderItem.Quantity
                            </div>
                            
                        </div>
                        <div class="ms-auto">
                            @orderItem.ShowProduct.Price.ToString("N2") zł
                        </div>
                    </div>
                </Iterations>
            </div>
            

            <div class="d-flex align-items-center fw-bold">
                <div>
                    Do zapłaty
                </div>
                <div class="ms-auto">
                    @OrderState.TotalPrice.ToString("N2") zł
                </div>
            </div>

            <div class="dropdown-divider"></div>

            <div>
                <button class="btn btn-success w-100" @onclick="CreateOrderTmp">
                    Zapłać
                </button>
            </div>
        </div>
    </div>
</div>