@using FMFT.Extensions.Blazor.Bases.MarkdownEditors
@using FMFT.Web.Client.Views.Shared.Components.Dialogs
@using FMFT.Web.Client.Views.Shared.Components.Inputs

<EditForm Model="Model" OnValidSubmit="SubmitAsync">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <span class="form-label">Data rozpoczęcia</span>
        <input type="date" class="form-control" @bind="Model.StartDate" min="@calendarStartDate" max="@calendarEndDate" />
        <div class="text-danger">
            <ValidationMessage For="@(() => Model.StartDate)" />
        </div>
    </div>
    <div class="mb-3">
        <span class="form-label">Godzina rozpoczęcia</span>
        <input type="time" class="form-control" @bind="Model.StartTime" />
        <div class="text-danger">
            <ValidationMessage For="@(() => Model.StartTime)" />
        </div>
    </div>

    <div class="mb-3">
        <span class="form-label">Czas trwania</span>
        <input type="range" class="form-range" @bind="Model.DurationMinutes" @bind:event="oninput" min="5" max="300" step="5" />
        <div class="input-group" style="max-width: 300px;">
            <input type="number" @bind="Model.DurationMinutes" @bind:event="oninput" class="form-control" placeholder="Username" />
            <span class="input-group-text">minut</span>
        </div>

        <div class="text-danger">
            <ValidationMessage For="@(() => Model.DurationMinutes)" />
        </div>
    </div>
    <SubmitButtonBase @ref="SubmitButton" Class="btn btn-sm btn-primary">
        <i class="fa-regular fa-floppy-disk me-1"></i>
        Zapisz
    </SubmitButtonBase>

    <AlertGroupBase @ref="AlertGroup">
        <AlertBase @ref="ValidationAlert" Class="alert-danger mt-3">
            Wystąpił problem z walidacją
        </AlertBase>
        <AlertBase @ref="ErrorAlert" Class="alert-danger mt-3">
            Błąd: @Response.Error.Title
        </AlertBase>
        <AlertBase @ref="SuccessAlert" Class="alert-success mt-3">
            Pomyślnie zapisano zmiany dla wydarzenia!
        </AlertBase>
    </AlertGroupBase>
</EditForm>