@using FMFT.Extensions.Blazor.Bases.MarkdownEditors
@using FMFT.Web.Client.Views.Shared.Components.Dialogs
@using FMFT.Web.Client.Views.Shared.Components.Inputs

<EditForm Model="Model" OnValidSubmit="SubmitAsync">
    <DataAnnotationsValidator />
    <div class="card-body">
        <div class="mb-3">
            <span class="form-label">Nazwa</span>
            <InputText class="form-control" @bind-Value="Model.Name" />
            <div class="text-danger">
                <ValidationMessage For="@(() => Model.Name)" />
            </div>
        </div>
        <div class="mb-3">
        <span class="form-label">Audytorium</span>
            <InputSelect @bind-Value="Model.AudotiriumId" class="form-select" disabled="@(hasReservedSeats || isPastStartDate)">
                <Iterations Items="Audutoriums" Context="auditorium">
                    <option value="@auditorium.Id">
                        @auditorium.Name (@auditorium.Seats.Count miejsc)
                    </option>
                </Iterations>
            </InputSelect>
        </div>
        <div class="mb-3">
            <span class="form-label">Opis</span>
            <MarkdownEditor @bind-Value="Model.Description" DisableHtml="false" Height="300" />
            <div class="text-danger">
                <ValidationMessage For="@(() => Model.Description)" />
            </div>
        </div>
        <div class="mb-3">
            <span class="form-label">Miniaturka</span>
            <InputMediaFile Class="form-control" @bind-Value="Model.ThumbnailMediaId" Accept="image/png, image/gif, image/jpeg, image/webp" />
            <div class="text-danger">
                <ValidationMessage For="@(() => Model.ThumbnailMediaId)" />
            </div>
        </div>

        <div class="row">
            <div class="col-md mb-3">
                <span class="form-label">Data rozpoczęcia</span>
                <input type="date" class="form-control" @bind="Model.StartDate" min="@calendarStartDate" max="@calendarEndDate" />
                <div class="text-danger">
                    <ValidationMessage For="@(() => Model.StartDate)" />
                </div>
            </div>
            <div class="col-md mb-3">
                <span class="form-label">Godzina rozpoczęcia</span>
                <input type="time" class="form-control" @bind="Model.StartTime" />
                <div class="text-danger">
                    <ValidationMessage For="@(() => Model.StartTime)" />
                </div>
            </div>
        </div>

        <div class="mb-3">
            <span class="form-label">Czas trwania</span>
            <input type="range" class="form-range" @bind="Model.DurationMinutes" @bind:event="oninput" min="5" max="300" step="5" />
            <div class="input-group" style="max-width: 300px;">
                <input type="number" @bind="Model.DurationMinutes" @bind:event="oninput" class="form-control" placeholder="Username" />
                <span class="input-group-text">minut</span>
            </div>

            <div class="text-danger">
                <ValidationMessage For="@(() => Model.DurationMinutes)" />
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check form-switch">
                <InputCheckbox class="form-check-input" id="enableSwitch" @bind-Value="Model.IsEnabled" />
                <label class="form-check-label" for="enableSwitch">
                    <Condition Evaluation="@Model.IsEnabled">
                        <Match>
                            Aktywne
                        </Match>
                        <NotMatch>
                            Nie aktywne
                        </NotMatch>
                    </Condition>
                </label>
            </div>
        </div>

        <AlertGroupBase @ref="AlertGroup">
            <AlertBase @ref="AuditoriumNotFoundAlert" Class="alert-danger mt-3">
                Wybrane audytorium nie istnieje
            </AlertBase>
            <AlertBase @ref="ShowNotFoundAlert" Class="alert-danger mt-3">
                Wydarzenie nie istnieje
            </AlertBase>
            <AlertBase @ref="ValidationAlert" Class="alert-danger mt-3">
                Wystąpił problem z walidacją
            </AlertBase>
            <AlertBase @ref="ErrorAlert" Class="alert-danger mt-3">
                Błąd: @Response.Error.Title
            </AlertBase>
            <AlertBase @ref="SuccessAlert" Class="alert-success mt-3">
                Pomyślnie zapisano zmiany dla wydarzenia!
            </AlertBase>
        </AlertGroupBase>
    </div>
    <div class="card-footer">
        <div class="d-flex align-items-center">
            <div>
                <SubmitButtonBase @ref="SubmitButton" Class="btn btn-sm btn-primary">
                    <i class="fa-regular fa-floppy-disk me-1"></i>
                    Zapisz zmiany
                </SubmitButtonBase>
            </div>            
            <div class="ms-auto small text-muted">
                <i class="fa-solid fa-clock-rotate-left me-1"></i>
                @Show.CreateDate.LocalDateTime.ToString("g")
            </div>
        </div>        
    </div>    
</EditForm>