<LoadingView State="Account">
    <ul class="list-group">
        <li class="list-group-item">
            <span class="fw-bold">
                ID: 
            </span>
            <span>
                @Account.UserId
            </span>
        </li>
        <li class="list-group-item">
            <span class="fw-bold">
                Email: 
            </span>
            <span>
                @Account.Email
            </span>
        </li>
        <li class="list-group-item">
            <span class="fw-bold">
                First Name: 
            </span>
            <span>
                @Account.FirstName
            </span>
        </li>
        <li class="list-group-item">
            <span class="fw-bold">
                Last Name: 
            </span>
            <span>
                @Account.LastName
            </span>
        </li>
        <li class="list-group-item">
            <span class="fw-bold">
                Role: 
            </span>
            <span>
                @Account.Role
            </span>
        </li>
        <Condition Evaluation="Account.AuthenticationMethod is not null">
            <Match>
                <li class="list-group-item">
                    <span class="fw-bold">
                        Authentication Method: 
                    </span>
                    <span>
                        @Account.AuthenticationMethod
                    </span>
                </li>
            </Match>
        </Condition>
    </ul>
</LoadingView>