<LoadingView State="UserInfo">
    <ul class="list-group">
        <li class="list-group-item">
            <span class="fw-bold">
                ID: 
            </span>
            <span>
                @UserInfo.Id
            </span>
        </li>
        <li class="list-group-item">
            <span class="fw-bold">
                Email: 
            </span>
            <span>
                @UserInfo.Email
            </span>
        </li>
        <li class="list-group-item">
            <span class="fw-bold">
                First Name: 
            </span>
            <span>
                @UserInfo.FirstName
            </span>
        </li>
        <li class="list-group-item">
            <span class="fw-bold">
                Last Name: 
            </span>
            <span>
                @UserInfo.LastName
            </span>
        </li>
        <li class="list-group-item">
            <span class="fw-bold">
                Role: 
            </span>
            <span>
                @UserInfo.Role
            </span>
        </li>
    </ul>
</LoadingView>