@page "/admin/reservations/validation"
@using FMFT.Extensions.Blazor.Bases.Conditions

<MainLayoutBody>
    <Breadcrumb>
        <BreadcrumbItem Link="/">
            Home
        </BreadcrumbItem>
        <BreadcrumbItem>
            Admin
        </BreadcrumbItem>
        <BreadcrumbItem>
            Rezerwacje
        </BreadcrumbItem>
        <BreadcrumbItem Active="true">
            Sprawdź
        </BreadcrumbItem>
    </Breadcrumb>

    <div>
        <CustomAuthorizeView Role="UserRole.Admin">
            <Authorized>
                <div class="text-center mb-3">
                    <h4 class="fs-5">Sprawdź rezerwację</h4>
                    <p class="text-muted">
                        Użyj skanera aby zeskanować bilet
                    </p>
                </div>
                <div>
                    <AlertGroupBase @ref="AlertGroup">
                        <AlertBase @ref="InvalidInputAlert" Class="alert-danger">
                            Podany kod biletu jest nieprawdiłowy
                        </AlertBase>
                    </AlertGroupBase>

                    <Condition Evaluation="isLoading">
                        <NotMatch>
                            <Condition Evaluation="ValidateReservationResponse != null">
                                <Match>
                                    <Condition Evaluation="ValidateReservationResponse.IsSuccessful">
                                        <Match>
                                            <div class="card">
                                                <div class="card-header">
                                                    Informacje o rezerwacji
                                                </div>
                                                <div class="list-group list-group-flush">
                                                    <Condition Evaluation="Reservation.IsCanceled">
                                                        <Match>
                                                            <div class="list-group-item list-group-item-warning">
                                                                Ta rezerwacja została anulowana
                                                            </div>
                                                        </Match>
                                                    </Condition>
                                                    <div class="list-group-item">
                                                        <span class="fw-bold">
                                                            ID:
                                                        </span>
                                                        <span>
                                                            @Reservation.Id
                                                        </span>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <span class="fw-bold">
                                                            Wydarzenie:
                                                        </span>
                                                        <span>
                                                            @Reservation.Show.Name
                                                        </span>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <span class="fw-bold">
                                                            Imię:
                                                        </span>
                                                        <span>
                                                            @Reservation.User.FirstName
                                                        </span>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <span class="fw-bold">
                                                            Nazwisko:
                                                        </span>
                                                        <span>
                                                            @Reservation.User.LastName
                                                        </span>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <span class="fw-bold">
                                                            Email:
                                                        </span>
                                                        <span>
                                                            @Reservation.User.Email
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </Match>
                                        <NotMatch>
                                            <Switch Expression="ValidateReservationResponse.Error.Code">
                                                <SwitchCase Value="@("ERR017")">
                                                    <InfoAlert>
                                                        Podany kod biletu nie istnieje w systemie
                                                    </InfoAlert>
                                                </SwitchCase>
                                                <DefaultSwitchCase>
                                                    <ErrorResponseAlert />
                                                </DefaultSwitchCase>
                                            </Switch>
                                        </NotMatch>
                                    </Condition>
                                </Match>
                            </Condition>
                        </NotMatch>
                        <Match>
                            <ProgressBar />
                        </Match>
                    </Condition>
                </div>
            </Authorized>
            <NotAuthorized>
                <NotAuthorizedAlert />
            </NotAuthorized>
        </CustomAuthorizeView>
    </div>

            

</MainLayoutBody>