@page "/admin/reservations/{ReservationId}"

<MainLayoutBody>
    <Breadcrumb>
        <BreadcrumbItem Link="/">
            Home
        </BreadcrumbItem>
        <BreadcrumbItem>
            Admin
        </BreadcrumbItem>
        <BreadcrumbItem Link="/admin/reservations">
            Rezerwacje
        </BreadcrumbItem>
        <BreadcrumbItem Active="true">
            @ReservationId
        </BreadcrumbItem>
    </Breadcrumb>

    <CustomAuthorizeView Role="UserRole.Admin">
        <Authorized>

            <LoadingView @ref="LoadingView">

                <Condition Evaluation="ReservationResponse.IsSuccessful">
                    <Match>

                        <div class="row">

                            <div class="col-md-6 mb-3">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        Informacje o rezerwacji
                                    </div>
                                    <div class="list-group list-group-flush">
                                        <Condition Evaluation="Reservation.IsCanceled">
                                            <Match>
                                                <div class="list-group-item list-group-item-warning">
                                                    Ta rezerwacja została anulowana
                                                </div>
                                            </Match>
                                        </Condition>
                                        <div class="list-group-item">
                                            <span class="fw-bold">
                                                ID:
                                            </span>
                                            <span>
                                                @Reservation.Id
                                            </span>
                                        </div>
                                        <div class="list-group-item">
                                            <span class="fw-bold">
                                                Wydarzenie:
                                            </span>
                                            <span>
                                                @Reservation.Show.Name
                                            </span>
                                        </div>
                                        <div class="list-group-item">
                                            <span class="fw-bold">
                                                Data:
                                            </span>
                                            <span>
                                                @Reservation.Show.StartDateTime.LocalDateTime.ToLongDateString()
                                            </span>
                                        </div>
                                        <div class="list-group-item">
                                            <span class="fw-bold">
                                                Godzina:
                                            </span>
                                            <span>
                                                @Reservation.Show.StartDateTime.LocalDateTime.ToString("t")
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        Miejsca (@Reservation.Seats.Count)
                                    </div>
                                    <div class="list-group list-group-flush">
                                        <Iterations Items="Reservation.Seats.OrderBy(x => x.Seat.Row).ThenBy(x => x.Seat.Number)" Context="seat">
                                            <div class="list-group-item d-flex align-items-center justify-content-between">
                                                Rząd @seat.Seat.Row Numer @seat.Seat.Number
                                            </div>
                                        </Iterations>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <Condition Evaluation="Reservation.User != null">
                                    <Match>
                                        <div class="card mb-2">
                                            <div class="card-header">
                                                Użytkownik
                                            </div>
                                            <div class="list-group list-group-flush">
                                                <div class="list-group-item">
                                                    <span class="fw-bold">
                                                        Imię:
                                                    </span>
                                                    <span>
                                                        @Reservation.User.FirstName
                                                    </span>
                                                </div>
                                                <div class="list-group-item">
                                                    <span class="fw-bold">
                                                        Nazwisko:
                                                    </span>
                                                    <span>
                                                        @Reservation.User.LastName
                                                    </span>
                                                </div>
                                                <div class="list-group-item">
                                                    <span class="fw-bold">
                                                        Email:
                                                    </span>
                                                    <span>
                                                        @Reservation.User.Email
                                                    </span>
                                                </div>
                                                <a class="list-group-item list-group-item-action" href="/admin/users/@Reservation.User.Id">
                                                    <i class="fa-solid fa-arrow-right-long me-1"></i>
                                                    Przejdź do użytkownika
                                                </a>
                                            </div>
                                        </div>
                                    </Match>
                                </Condition>
                                <Condition Evaluation="Reservation.Details != null">
                                    <Match>
                                        <div class="card mb-2">
                                            <div class="card-header">
                                                Osoba
                                            </div>
                                            <div class="list-group list-group-flush">
                                                <div class="list-group-item">
                                                    <span class="fw-bold">
                                                        Imię:
                                                    </span>
                                                    <Condition Evaluation="string.IsNullOrEmpty(Reservation.Details.FirstName)">
                                                        <Match>
                                                            <span class="text-muted">
                                                                nie podano
                                                            </span>                                                            
                                                        </Match>
                                                        <NotMatch>
                                                            <span>
                                                                @Reservation.Details.FirstName
                                                            </span>
                                                        </NotMatch>
                                                    </Condition>
                                                </div>
                                                <div class="list-group-item">
                                                    <span class="fw-bold">
                                                        Nazwisko:
                                                    </span>
                                                    <Condition Evaluation="string.IsNullOrEmpty(Reservation.Details.LastName)">
                                                        <Match>
                                                            <span class="text-muted">
                                                                nie podano
                                                            </span>                                                            
                                                        </Match>
                                                        <NotMatch>
                                                            <span>
                                                                @Reservation.Details.LastName
                                                            </span>
                                                        </NotMatch>
                                                    </Condition>
                                                </div>
                                                <div class="list-group-item">
                                                    <span class="fw-bold">
                                                        Email:
                                                    </span>
                                                    <Condition Evaluation="string.IsNullOrEmpty(Reservation.Details.Email)">
                                                        <Match>
                                                            <span class="text-muted">
                                                                nie podano
                                                            </span>                                                            
                                                        </Match>
                                                        <NotMatch>
                                                            <span>
                                                                @Reservation.Details.Email
                                                            </span>
                                                        </NotMatch>
                                                    </Condition>
                                                </div>
                                            </div>
                                        </div>
                                    </Match>
                                </Condition>
                            </div>

                        </div>

                    </Match>
                    <NotMatch>

                        <ErrorResponseAlert />

                    </NotMatch>
                </Condition>

            </LoadingView>

        </Authorized>
        <NotAuthorized>
            <NotAuthorizedAlert />
        </NotAuthorized>
    </CustomAuthorizeView>


</MainLayoutBody>