@page "/admin/reservations/{ReservationId}"
@using FMFT.Extensions.Blazor.Bases.Conditions
@using FMFT.Extensions.Blazor.Bases.Dialogs
@using FMFT.Web.Client.Models.API.Reservations;
@using FMFT.Web.Client.Views.Shared.Components.Alerts.Reservations
@using FMFT.Web.Client.Views.Shared.Components.Buttons
@using FMFT.Web.Client.Views.Shared.Components.Cards.Users

<MainLayoutBody>
    <Breadcrumb>
        <BreadcrumbItem Link="/">
            Home
        </BreadcrumbItem>
        <BreadcrumbItem>
            Admin
        </BreadcrumbItem>
        <BreadcrumbItem Link="/admin/reservations">
            Rezerwacje
        </BreadcrumbItem>
        <BreadcrumbItem Active="true">
            @ReservationId
        </BreadcrumbItem>
    </Breadcrumb>

    <CustomAuthorizeView Role="UserRole.Admin">
        <Authorized>

            <LoadingView @ref="LoadingView">

                <Condition Evaluation="ReservationResponse.IsSuccessful">
                    <Match>

                        <ReservationStatusAlert ReservationStatus="Reservation.Status" />

                        <div class="row">

                            <div class="col-md-6 mb-3">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        Informacje o rezerwacji
                                    </div>
                                    <div class="list-group list-group-flush">
                                        <div class="list-group-item">
                                            <span class="fw-bold">
                                                ID:
                                            </span>
                                            <span>
                                                @Reservation.Id
                                            </span>
                                        </div>
                                        <div class="list-group-item">
                                            <span class="fw-bold">
                                                Wydarzenie:
                                            </span>
                                            <span>
                                                @Reservation.Show.Name
                                            </span>
                                        </div>
                                        <div class="list-group-item">
                                            <span class="fw-bold">
                                                Status:
                                            </span>
                                            <span>
                                                @FormatHelper.TranslateReservationStatus(Reservation.Status)
                                            </span>
                                        </div>
                                        <div class="list-group-item">
                                            <span class="fw-bold">
                                                Data:
                                            </span>
                                            <span>
                                                @Reservation.Show.StartDateTime.LocalDateTime.ToLongDateString()
                                            </span>
                                        </div>
                                        <div class="list-group-item">
                                            <span class="fw-bold">
                                                Godzina:
                                            </span>
                                            <span>
                                                @Reservation.Show.StartDateTime.LocalDateTime.ToString("t")
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        Bilety (@Reservation.Items.Count())
                                    </div>
                                    <div class="list-group list-group-flush">
                                        <Iterations Items="Reservation.Seats.OrderBy(x => x.Seat.Sector).ThenBy(x => x.Seat.Row).ThenBy(x => x.Seat.Number)" Context="seat">
                                            <div class="list-group-item d-flex align-items-center">
                                                <div>
                                                    @seat.Seat.SectorString Rząd @seat.Seat.Row Numer @seat.Seat.Number
                                                </div>
                                                <div class="ms-auto">
                                                    <DownloadTicketButton Reservation="Reservation" ReservationItem="seat" IsSmall="true" />
                                                </div>
                                            </div>
                                        </Iterations>
                                        @for (int i = 0; i < Reservation.BulkItems.Count(); i++)
                                        {
                                            ReservationItem item = Reservation.BulkItems.OrderBy(x => x.Id).ElementAt(i);

                                            <div class="list-group-item d-flex align-items-center">
                                                <div>
                                                    @item.ShowProduct.Name #@(i + 1)
                                                </div>

                                                <div class="ms-auto">
                                                    <DownloadTicketButton 
                                                        Reservation="Reservation"
                                                        ReservationItem="item"
                                                        IsSmall="true" />
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">

                                <div class="card mb-3">
                                    <div class="card-header">
                                        Zarządzaj rezerwacją
                                    </div>
                                    <div class="list-group list-group-flush">
                                        <button class="list-group-item list-group-item-action list-group-item-warning" href="javascript:void(0)"
                                                @onclick="HandleCancelDialogAsync" disabled="@Reservation.IsNotValid">
                                            <i class="fa-solid fa-xmark me-1"></i>
                                            Anuluj rezerwację
                                        </button>
                                    </div>
                                </div>

                                <Condition Evaluation="Reservation.User != null">
                                    <Match>
                                        <UserInfoAdminCard UserInfo="Reservation.User" />
                                    </Match>
                                </Condition>
                                <Condition Evaluation="Reservation.Details != null">
                                    <Match>
                                        <div class="card mb-3">
                                            <div class="card-header">
                                                Osoba
                                            </div>
                                            <div class="list-group list-group-flush">
                                                <div class="list-group-item">
                                                    <span class="fw-bold">
                                                        Imię:
                                                    </span>
                                                    <Condition Evaluation="string.IsNullOrEmpty(Reservation.Details.FirstName)">
                                                        <Match>
                                                            <span class="text-muted">
                                                                nie podano
                                                            </span>                                                            
                                                        </Match>
                                                        <NotMatch>
                                                            <span>
                                                                @Reservation.Details.FirstName
                                                            </span>
                                                        </NotMatch>
                                                    </Condition>
                                                </div>
                                                <div class="list-group-item">
                                                    <span class="fw-bold">
                                                        Nazwisko:
                                                    </span>
                                                    <Condition Evaluation="string.IsNullOrEmpty(Reservation.Details.LastName)">
                                                        <Match>
                                                            <span class="text-muted">
                                                                nie podano
                                                            </span>                                                            
                                                        </Match>
                                                        <NotMatch>
                                                            <span>
                                                                @Reservation.Details.LastName
                                                            </span>
                                                        </NotMatch>
                                                    </Condition>
                                                </div>
                                                <div class="list-group-item">
                                                    <span class="fw-bold">
                                                        Email:
                                                    </span>
                                                    <Condition Evaluation="string.IsNullOrEmpty(Reservation.Details.Email)">
                                                        <Match>
                                                            <span class="text-muted">
                                                                nie podano
                                                            </span>                                                            
                                                        </Match>
                                                        <NotMatch>
                                                            <span>
                                                                @Reservation.Details.Email
                                                            </span>
                                                        </NotMatch>
                                                    </Condition>
                                                </div>
                                            </div>
                                        </div>
                                    </Match>
                                </Condition>
                            </div>

                        </div>

                        <ModalDialog @ref="CancelModalDialog" AlignCenter="true">
                            <Title>
                                Anuluj rezerwację
                            </Title>
                            <Body>
                                
                                <p>
                                    Czy napewno chcesz anulować tę rezerwację?
                                </p>

                                <Condition Evaluation="string.IsNullOrEmpty(Reservation.Email())">
                                    <NotMatch>
                                        <p>
                                            Na email <span class="fw-bold">@Reservation.Email()</span> zostanie wysłana informacja o anulowaniu rezerwacji.
                                        </p>
                                    </NotMatch>
                                </Condition>
                                
                            </Body>
                            <Footer>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    Nie
                                </button>
                                <ButtonBase @ref="CancelButton" Class="btn btn-danger" OnClick="HandleCancelAsync">
                                    Tak
                                </ButtonBase>
                            </Footer>
                        </ModalDialog>

                    </Match>
                    <NotMatch>

                        <ErrorResponseAlert />

                    </NotMatch>
                </Condition>

            </LoadingView>

        </Authorized>
        <NotAuthorized>
            <NotAuthorizedAlert />
        </NotAuthorized>
    </CustomAuthorizeView>


</MainLayoutBody>