
<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                Informacja o wydarzeniu
            </div>
            <div class="list-group-flush">
                <div class="list-group-item">
                    <span class="fw-bold">
                        Audytorium:
                    </span>
                    <span>
                        @Auditorium.Name
                    </span>
                </div>
                <div class="list-group-item">
                    <span class="fw-bold">
                        Miejsca siedzące:
                    </span>
                    <span>
                        @Show.ReservedSeats.Count()/@Auditorium.Seats.Count
                    </span>
                </div>
                <div class="list-group-item">
                    <span class="fw-bold">
                        Pozostałe miejsca:
                    </span>
                    <span>
                        @Show.ReservedBulkItems.Count()
                    </span>
                </div>
                <div class="list-group-item">
                    <span class="fw-bold">
                        Data rozpoczęcia:
                    </span>
                    <span>
                        @Show.StartDateTime.LocalDateTime.ToShortDateString()
                    </span>
                </div>
                <div class="list-group-item">
                    <span class="fw-bold">
                        Godzina rozpoczęcia:
                    </span>
                    <span>
                        @Show.StartDateTime.LocalDateTime.ToShortTimeString()
                    </span>
                </div>
                
                <div class="list-group-item">
                    <span class="fw-bold">
                        Czas trwania:
                    </span>
                    <span>
                        @Show.Duration().TotalMinutes minut
                    </span>
                </div>

                <a class="list-group-item list-group-item-action list-group-item-info" href="/shows/@Show.Id">
                    <i class="fa-solid fa-arrow-right-long me-1"></i>
                    Przejdź do wydarzenia
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">

    </div>
</div>

