@page "/account/orders"

<MainLayoutBody>
    <Breadcrumb>
        <BreadcrumbItem Link="/">
            Home
        </BreadcrumbItem>
        <BreadcrumbItem Link="/account">
            Konto
        </BreadcrumbItem>
        <BreadcrumbItem Active="true">
            Zamówienia
        </BreadcrumbItem>
    </Breadcrumb>

    <CustomAuthorizeView>
        <Authorized>

            <LoadingView @ref="LoadingView">

                <Condition Evaluation="OrdersResponse.IsSuccessful">
                    
                    <Match>
                        <Condition Evaluation="Orders.Any()">
                            <Match>

                                <div class="mb-2 text-muted">
                                    Twoje zamówienia
                                </div>

                                <div class="list-group">
                                    <Iterations Items="Orders.OrderByDescending(x => x.CreateDate)" Context="order">
                                        <a 
                                            class="list-group-item list-group-item-action 
                                            @GetOrderClasses(order)" 
                                            href="/account/orders/@order.Id">
                                            <div class="d-flex align-items-center">
                                                <div class="small">
                                                    <div class="fw-bold">
                                                        @FormatHelper.OrderId(order.Id)
                                                    </div>
                                                    <div>
                                                        @FormatHelper.TranslateOrderStatus(order.Status)
                                                    </div>
                                                </div>
                                                <div class="ms-auto text-end small">
                                                    <div>
                                                        @order.Amount.ToString("N2") @order.Currency
                                                    </div>
                                                    <div>
                                                        @order.CreateDate.LocalDateTime.ToShortDateString()
                                                        @order.CreateDate.LocalDateTime.ToShortTimeString()
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </Iterations>
                                </div>
                            </Match>
                            <NotMatch>
                                <InfoAlert>
                                    Nie posiadasz żadnych rezerwacji
                                </InfoAlert>
                            </NotMatch>
                        </Condition>
                    </Match>

                    <NotMatch>
                        <ErrorResponseAlert />
                    </NotMatch>

                </Condition>

            </LoadingView>

        </Authorized>
        <NotAuthorized>
            <NotAuthenticatedAlert />
        </NotAuthorized>
    </CustomAuthorizeView>

</MainLayoutBody>
