@page "/shows/{ShowId:int}/order/payment"
@using FMFT.Extensions.Blazor.Bases.Steppers
@using FMFT.Web.Client.Views.Shared.Components.Inputs

<MainLayoutBody>

    <CustomAuthorizeView MustConfirmEmail="true">
        <Authorized>
            <Stepper>
                <StepperItem Text="Bilety" Url="@GetUrl("products")" />
                <StepperItem Text="Miejsca" Url="@GetUrl("seats")" />
                <StepperItem Text="Płatność" Url="@GetUrl("payment")" Active="true" />
            </Stepper>

            <LoadingView @ref="LoadingView">
                <Condition Evaluation="ShowResponse.IsSuccessful && ShowProductsResponse.IsSuccessful && AuditoriumResponse.IsSuccessful">
                    <Match>
                        <div class="row">
                            <div class="col-lg-8">
                                <AlertGroupBase @ref="AlertGroup">
                                    <AlertBase @ref="ErrorAlert" Class="alert-danger">
                                        Wystąpił błąd. Spróbuj ponownie później
                                    </AlertBase>
                                    <AlertBase @ref="SeatErrorAlert" Class="alert-danger">
                                        Miejsce które wybrałeś jest już zajęte. 
                                        <a href="/shows/@ShowId/order/seats" class="text-decoration-none">
                                            Zmień miejsca
                                        </a>
                                    </AlertBase>
                                </AlertGroupBase>

                                <div class="mb-3">
                                    <div class="fs-5 mb-2">
                                        Wybierz metodę płatności
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <PaymentMethodSelect PaymentMethod="OrderStateData.PaymentMethod" PaymentMethodChanged="HandlePaymentMethodChangedAsync" />
                                </div>
                                <div class="mb-3">
                                    <div class="fs-5 mb-2">
                                        Wybrane miejsca
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <ul>
                                        <Iterations Items="Seats.GroupBy(x => new { x.Row, x.Sector}).OrderBy(x => x.Key.Sector).ThenBy(x => x.Key.Row)" Context="group">
                                            <li>
                                                <Condition Evaluation="group.Count() > 1">
                                                    <Match>
                                                        <Condition Evaluation="group.Key.Sector == 'B'">
                                                            <Match>
                                                                Balkon Rząd @group.Key.Row Miejsca @string.Join(", ", group.Select(x => x.Number))
                                                            </Match>
                                                            <NotMatch>
                                                                Parter Rząd @group.Key.Row Miejsca @string.Join(", ", group.Select(x => x.Number))
                                                            </NotMatch>
                                                        </Condition>                                                        
                                                    </Match>
                                                    <NotMatch>
                                                        <Condition Evaluation="group.Key.Sector == 'B'">
                                                            <Match>
                                                                Balkon Rząd @group.Key.Row Miejsce @string.Join(", ", group.Select(x => x.Number))
                                                            </Match>
                                                            <NotMatch>
                                                                Parter Rząd @group.Key.Row Miejsce @string.Join(", ", group.Select(x => x.Number))
                                                            </NotMatch>
                                                        </Condition>
                                                    </NotMatch>
                                                </Condition>                                                
                                            </li>
                                        </Iterations>
                                        <Condition Evaluation="BulkItemsCount == 1">
                                            <Match>
                                                <li>
                                                    Nie dotyczy jednego biletu bez miejsca
                                                </li>
                                            </Match>
                                        </Condition>
                                        <Condition Evaluation="BulkItemsCount > 1">
                                            <Match>
                                                <li>
                                                    Nie dotyczy @BulkItemsCount biletów bez miejsca
                                                </li>
                                            </Match>
                                        </Condition>
                                        <Condition Evaluation="OrderStateData.SeatIds.Any()">
                                            <Match>
                                                <li>
                                                    <a href="/shows/@ShowId/order/seats" class="text-decoration-none">
                                                        Zmień miejsca
                                                    </a>
                                                </li>
                                            </Match>
                                        </Condition>                                        
                                    </ul>
                                </div>
                                <div class="mb-3">
                                    <div class="fs-5 mb-2">
                                        Informacje o wydarzeniu
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <div>
                                        <div class="small text-muted">
                                            Nazwa
                                        </div>
                                        <div>
                                            @Show.Name
                                        </div>
                                        <div class="small text-muted">
                                            Data
                                        </div>
                                        <div>
                                            @Show.StartDateTime.LocalDateTime.ToLongDateString()
                                        </div>
                                        <div class="small text-muted">
                                            Godzina rozpoczęcia
                                        </div>
                                        <div>
                                            @Show.StartDateTime.LocalDateTime.ToString("t")
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="fs-5 mb-2">
                                        Informacje o kupującym
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <div>
                                        <div class="small text-muted">
                                            Imię i Nazwisko
                                        </div>
                                        <div>
                                            @UserAccountState.UserAccount.FirstName @UserAccountState.UserAccount.LastName
                                        </div>
                                        <div class="small text-muted">
                                            Adres Email
                                        </div>
                                        <div>
                                            @UserAccountState.UserAccount.Email
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="fs-5 mb-2">
                                        Zgody formalne
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <div>
                                        <ul>
                                            <li>
                                                <a href="/documents/terms-and-conditions.pdf" target="_blank" class="text-decoration-none">
                                                    Regulamin sprzedaży
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="form-check ms-2">
                                            <input class="form-check-input" type="checkbox" id="Przelewy24TermsCheckbox" style="cursor: pointer;" @bind="OrderStateData.IsAgreePrzelewy24">
                                            <label class="form-check-label small" for="Przelewy24TermsCheckbox" style="cursor: pointer;">
                                                Oświadczam, że został-em/-am poinformowan-y/-a, że administratorem danych osobowych w zakresie realizacji płatności jest PayPro z siedzibą w Poznaniu.
                                                <Condition Evaluation="OrderStateData.IsAgreePrzelewy24">
                                                    <NotMatch>
                                                        <span class="text-danger fw-bold"> *</span>
                                                    </NotMatch>
                                                </Condition>
                                            </label>
                                        </div>
                                        <div class="form-check ms-2">
                                            <input class="form-check-input" type="checkbox" id="TermsAndConditionsCheckbox" style="cursor: pointer;" @bind="OrderStateData.IsAgreeTerms">
                                            <label class="form-check-label small" for="TermsAndConditionsCheckbox" style="cursor: pointer;">
                                                Zgadzam się z warunkami i regulaminem sprzedaży
                                                <Condition Evaluation="OrderStateData.IsAgreeTerms">
                                                    <NotMatch>
                                                        <span class="text-danger fw-bold"> *</span>
                                                    </NotMatch>
                                                </Condition>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="border p-2">
                                    <div class="list-group mb-2">
                                        <Iterations Items="OrderStateData.Items" Context="orderItem">
                                            <div class="list-group-item d-flex align-items-center">
                                                <div class="small">
                                                    <div>
                                                        @GetShowProduct(orderItem.ShowProductId).Name
                                                    </div>
                                                    <div>
                                                        <span>x</span>@orderItem.Quantity
                                                    </div>

                                                </div>
                                                <div class="ms-auto">
                                                    @GetShowProduct(orderItem.ShowProductId).Price.ToString("N2") zł
                                                </div>
                                            </div>
                                        </Iterations>
                                    </div>


                                    <div class="d-flex align-items-center fw-bold">
                                        <div>
                                            Do zapłaty
                                        </div>
                                        <div class="ms-auto">
                                            @TotalPrice.ToString("N2") zł
                                        </div>
                                    </div>

                                    <div class="dropdown-divider"></div>

                                    <div class="mb-2">
                                        <ButtonBase @ref="PayButton" Class="btn btn-success w-100" OnClick="HandlePayAsync" IsDisabled="@PayDisabled" SpinningText="Oczekiwanie na operatora">
                                            Zapłać
                                        </ButtonBase>
                                    </div>
                                    <div class="text-small">
                                        <Condition Evaluation="OrderStateData.IsAgreeTerms && OrderStateData.IsAgreePrzelewy24">
                                            <NotMatch>
                                                <div class="text-danger">
                                                    <i class="fa-solid fa-exclamation me-1"></i>
                                                    Musisz zaakceptować zgody formalne
                                                </div>
                                            </NotMatch>
                                        </Condition>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </Match>
                    <NotMatch>
                        <ErrorResponseAlert />
                    </NotMatch>
                </Condition>
                
            </LoadingView>

        </Authorized>
        <NotAuthorized>
            <NotAuthenticatedAlert />
        </NotAuthorized>
        <NotConfirmedEmail>
            <UnconfirmedEmailAlert />
        </NotConfirmedEmail>
    </CustomAuthorizeView>

</MainLayoutBody>