@page "/shows/{ShowId:int}/order"
@page "/shows/{ShowId:int}/order/products"
@using FMFT.Extensions.Blazor.Bases.Steppers

<MainLayoutBody>

    <CustomAuthorizeView MustConfirmEmail="true">
        <Authorized>

            <Stepper>
                <StepperItem Text="Bilety" Url="@GetUrl("products")" Active="true" />
                <StepperItem Text="Miejsca" Url="@GetUrl("seats")" Disabled="true" />
                <StepperItem Text="Płatność" Url="@GetUrl("payment")" Disabled="true" />
            </Stepper>            

            <LoadingView @ref="LoadingView">
                <Condition Evaluation="ShowResponse.IsSuccessful && ShowProductsResponse.IsSuccessful && UserReservationsResponse.IsSuccessful">
                    <Match>
                        <div class="w-100 p-2 bg-dark text-white border rounded mb-2">
                            <div class="fw-bold mb-1">
                                @Show.Name
                            </div>
                            <div class="mb-1">
                                @Show.StartDateTime.LocalDateTime.ToShortDateString() @Show.StartDateTime.LocalDateTime.ToShortTimeString()
                                <a href="/shows/@ShowId" class="text-white ms-1">
                                    Więcej informacji
                                </a>
                            </div>
                        </div>

                        <div class="fs-4 mb-2">
                            Wybierz bilety
                        </div>

                        <Condition Evaluation="ActiveUserReservations.Any()">
                            <Match>
                                <InfoAlert>
                                    Posiadasz już <strong>@ActiveUserReservations.Count()</strong> aktywne rezerwacje na to wydarzenie
                                </InfoAlert>
                            </Match>
                        </Condition>

                        <div class="mb-2">

                            <table class="table mb-1">
                                <thead class="table-dark">
                                    <tr>
                                        <th>
                                            Rodzaj biletu
                                        </th>
                                        <th>
                                            Cena
                                        </th>
                                        <th>
                                            Ilość
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <Iterations Items="ShowProducts" Context="showProduct">
                                        <tr>
                                            <td class="align-middle">
                                                @showProduct.Name
                                            </td>
                                            <td class="align-middle">
                                                @showProduct.Price.ToString("N2") zł
                                            </td>
                                            <td class="align-middle">
                                                <select @onchange="(args) => HandleQuantityChangeAsync(showProduct, args)" value="@GetQuantity(showProduct.Id)" class="form-select">
                                                    @for (int i = 0; i <= MaxQuantity; i++)
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                    </Iterations>

                                </tbody>
                            </table>

                            <div class="text-end fw-bold mb-3">
                                W sumie: @GetTotalPrice().ToString("N2") zł
                            </div>

                        </div>
                        <div class="d-flex align-items-center">
                            <button class="btn btn-secondary" @onclick="HandleCancelAsync">
                                Zrezygnuj
                            </button>
                            <div class="ms-auto">
                                <a class="btn btn-primary @NextDisabled()" href="@GetUrl("seats")">
                                    Przejdź dalej
                                </a>
                            </div>
                        </div>
                    </Match>
                    <NotMatch>
                        <ErrorResponseAlert />
                    </NotMatch>
                </Condition>
            </LoadingView>

        </Authorized>
        <NotAuthorized>
            <NotAuthenticatedAlert />
        </NotAuthorized>
        <NotConfirmedEmail>
            <UnconfirmedEmailAlert />
        </NotConfirmedEmail>
    </CustomAuthorizeView>



</MainLayoutBody>