@page "/shows/{ShowId:int}/order/seats"
@using FMFT.Extensions.Blazor.Bases.Steppers
@using FMFT.Web.Client.Views.Shared.Components.Headers
@using FMFT.Web.Client.Views.Shared.Components.Panzooms

<MainLayoutBody>

    <CustomAuthorizeView MustConfirmEmail="true">
        <Authorized>
            <Stepper>
                <StepperItem Text="Bilety" Url="@GetUrl("products")" />
                <StepperItem Text="Miejsca" Url="@GetUrl("seats")" Active="true" />
                <StepperItem Text="Płatność" Url="@GetUrl("payment")" Disabled="true" />
            </Stepper>

            <LoadingView @ref="LoadingView">

                <Condition Evaluation="ShowResponse.IsSuccessful && AuditoriumResponse.IsSuccessful && ShowProductsResponse.IsSuccessful">
                    <Match>
                        <ShowHeader Show="Show" />

                        <Condition Evaluation="BulkItems.Count() == 1">
                            <Match>
                                <div class="alert alert-info mb-3">
                                    Masz 1 bilet który nie wymaga wyboru miejsca
                                </div>
                            </Match>
                        </Condition>
                        <Condition Evaluation="BulkItems.Count() > 1 && BulkItems.Count() < 5">
                            <Match>
                                <div class="alert alert-info mb-3">
                                    Masz @BulkItems.Count() bilety które nie wymagają wyboru miejsca
                                </div>
                            </Match>
                        </Condition>
                        <Condition Evaluation="BulkItems.Count() > 4">
                            <Match>
                                <div class="alert alert-info mb-3">
                                    Masz @BulkItems.Count() biletów które nie wymagają wyboru miejsca
                                </div>
                            </Match>
                        </Condition>

                        <div class="mb-3">
                            <div class="d-md-flex d-block align-items-center">
                                <div class="fs-4 mb-2 mb-md-0">
                                    Wybierz @TicketsCountString()
                                </div>
                                <div class="ms-md-auto d-md-flex d-block align-items-center">
                                    <div class="me-md-1 w-100 w-md-auto mb-1 mb-md-0">
                                        <a class="btn btn-secondary w-100" href="@BackUrl">
                                            Powrót
                                        </a>
                                    </div>
                                    <div class="w-100 w-md-auto">
                                        <a class="btn btn-primary text-nowrap w-100 @NextDisabled()" href="@NextUrl">
                                            Przejdź dalej
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <AuditoriumSeatPanzoom Auditorium="Auditorium"
                                                   ReservedSeats="Show.ReservedSeatIds"
                                                   MaxAmount="MaxSeatsAmount"
                                                   SelectedSeats="OriginalSelectedSeats"
                                                   SelectedSeatsChanged="HandleSelectedSeatsChangedAsync" />
                        </div>

                        <div class="card mb-3">
                            <div class="card-header">
                                Legenda
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>
                                        zielony - wolne miejsce
                                    </li>
                                    <li>
                                        pomarańczowy - wybrane miejsce
                                    </li>
                                    <li>
                                        szary - zajęte miejsce
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="d-flex align-items-center">
                            <div>
                                <a class="btn btn-secondary" href="@BackUrl">
                                    Powrót
                                </a>
                            </div>
                            <div class="ms-auto">
                                <a class="btn btn-primary @NextDisabled()" href="@NextUrl">
                                    Przejdź dalej
                                </a>
                            </div>
                        </div>
                    </Match>
                    <NotMatch>
                        <ErrorResponseAlert />
                    </NotMatch>
                </Condition>

                
            </LoadingView>
        </Authorized>
        <NotAuthorized>
            <NotAuthenticatedAlert />
        </NotAuthorized>
        <NotConfirmedEmail>
            <UnconfirmedEmailAlert />
        </NotConfirmedEmail>
    </CustomAuthorizeView>

</MainLayoutBody>