<div class="card mb-3">
    <div class="card-header">
        Pozycje zamówienia (@Order.Items.Sum(x => x.Quantity))
    </div>
    <div class="list-group list-group-flush">
        <Iterations Items="Order.Items" Context="orderItem">
            <div class="list-group-item d-flex align-items-center justify-content-between">
                <div class="small">
                    <div>
                        @orderItem.ShowProduct.Name
                    </div>
                    <div>
                        @orderItem.Show.Name
                    </div>
                </div>
                <div>
                    @orderItem.Quantity
                    <span>x</span>
                    @orderItem.Price.ToString("N2") @Order.Currency
                </div>

            </div>
        </Iterations>
        <div class="list-group-item d-flex align-items-center fw-bold">
            <div>
                Razem
            </div>
            <div class="ms-auto">
                @Order.Amount.ToString("N2") @Order.Currency
            </div>
        </div>
    </div>
</div>