@page "/admin/users/{UserId:int}"
@using FMFT.Extensions.Blazor.Bases.Conditions
@using FMFT.Extensions.Blazor.Bases.Dialogs

<MainLayoutBody>

    <Breadcrumb>
        <BreadcrumbItem Link="/">
            Home
        </BreadcrumbItem>
        <BreadcrumbItem>
            Admin
        </BreadcrumbItem>
        <BreadcrumbItem Link="/admin/users">
            Użytkownicy
        </BreadcrumbItem>
        <BreadcrumbItem Active="true">
            @UserName
        </BreadcrumbItem>
    </Breadcrumb>

    <CustomAuthorizeView Role="UserRole.Admin">
        <Authorized>
            <LoadingView @ref="LoadingView">
                <Condition Evaluation="UserResponse.IsSuccessful">
                    <Match>
                       <div class="row">
                           <div class="col-md-6">
                               <div class="card mb-3">
                                   <div class="card-header">
                                       Informacja o użytkowniku
                                   </div>
                                   <div class="list-group list-group-flush">
                                        <div class="list-group-item">
                                            <span class="fw-bold">
                                                ID:
                                            </span>
                                            <span>@User.Id</span>
                                        </div>
                                        <div class="list-group-item">
                                            <span class="fw-bold">
                                                Email:
                                            </span>
                                            <span>@User.Email</span>
                                        </div>
                                        <div class="list-group-item">
                                            <span class="fw-bold">
                                                 Imię:
                                             </span>
                                             <span>@User.FirstName</span>
                                         </div>
                                        <div class="list-group-item">
                                            <span class="fw-bold">
                                                Nazwisko:
                                            </span>
                                            <span>@User.LastName</span>
                                        </div>
                                        <div class="list-group-item">
                                        <span class="fw-bold">
                                                Typ użytkownika:
                                            </span>
                                            <span>@User.Role</span>
                                        </div>
                                        <div class="list-group-item">
                                            <span class="fw-bold">
                                                Logowanie hasłem:
                                            </span>
                                            <span>
                                                <Condition Evaluation="User.IsPasswordEnabled">
                                                    <Match>
                                                        Włączone
                                                    </Match>
                                                    <NotMatch>
                                                        Wyłączone
                                                    </NotMatch>
                                                </Condition>
                                            </span>
                                        </div>
                                        <div class="list-group-item">
                                            <span class="fw-bold">
                                                Status konta:
                                            </span>
                                            <span>
                                                <Condition Evaluation="User.IsEmailConfirmed">
                                                    <Match>
                                                        Potwierdzone
                                                    </Match>
                                                    <NotMatch>
                                                        Nie potwierdzone
                                                    </NotMatch>
                                                </Condition>
                                            </span>
                                        </div>
                                        <div class="list-group-item">
                                            <span class="fw-bold">
                                                 Data rejestracji:
                                             </span>
                                             <span>
                                                 @User.CreateDate.LocalDateTime
                                            </span>
                                        </div>
                                   </div>
                               </div>

                                <Condition Evaluation="User.IsPasswordEnabled">
                                    <NotMatch>
                                        <div class="card mb-3">
                                            <div class="card-header">
                                                Lista zewnętrznych loginów
                                            </div>
                                            <LoadingView @ref="UserLoginsLoadingView">
                                                <Condition Evaluation="UserLoginsResponse.IsSuccessful">
                                                    <Match>
                                                        <div class="list-group list-group-flush">
                                                            <Iterations Items="UserLogins" Context="userLogin">
                                                                <div class="list-group-item">
                                                                    <Switch Expression="userLogin.ProviderName">
                                                                        <SwitchCase Value="@("Facebook")">
                                                                            <i class="fa-brands fa-facebook-f me-1"></i>
                                                                        </SwitchCase>
                                                                        <SwitchCase Value="@("Google")">
                                                                            <i class="fa-brands fa-google me-1"></i>
                                                                        </SwitchCase>
                                                                        <DefaultSwitchCase>
                                                                            <i class="fa-solid fa-question me-1"></i>
                                                                        </DefaultSwitchCase>
                                                                    </Switch>
                                                                    @userLogin.FriendlyName
                                                                </div>
                                                            </Iterations>
                                                        </div>
                                                    </Match>
                                                    <NotMatch>
                                                        <ErrorResponseAlert />
                                                    </NotMatch>
                                                </Condition>
                                            </LoadingView>
                                        </div>
                                    </NotMatch>
                                </Condition>

                           </div>
                           <div class="col-md-6">
                               <div class="card mb-3">
                                   <div class="card-header">
                                       Zarządzaj użytkownikiem
                                   </div>
                                    <div class="list-group list-group-flush">
                                        <button class="list-group-item list-group-item-action list-group-item-info" @onclick="HandleOpenChangeRoleAsync">
                                            <i class="fa-regular fa-id-badge me-1"></i>
                                            Zmień typ użytkownika
                                        </button>
                                    </div>
                               </div>

                               <LoadingView @ref="ReservationsLoadingView">

                                   <div class="card mb-3">
                                       <div class="card-header">
                                           Rezerwacje użytkownika
                                       </div>
                                        <Condition Evaluation="ReservationsResponse.IsSuccessful">
                                            <Match>

                                                <div class="list-group list-group-flush">
                                                    <Condition Evaluation="Reservations.Any()">
                                                        <Match>
                                                            <Iterations Items="Reservations.OrderByDescending(x => x.CreateDate)" Context="reservation">
                                                                <a class="list-group-item list-group-item-action d-flex align-items-center @GetReservationClass(reservation)"
                                                                   href="/admin/reservations/@reservation.Id">
                                                                    <div>
                                                                        @reservation.Id
                                                                    </div>
                                                                    <div class="ms-auto small">
                                                                        @reservation.Show.Name
                                                                    </div>
                                                                </a>
                                                            </Iterations>
                                                        </Match>
                                                        <NotMatch>
                                                            <div class="list-group-item">
                                                                Użytkownik nie posiada żadnych rezerwacji
                                                            </div>
                                                        </NotMatch>
                                                    </Condition>
                                                </div>                                               
                                                
                                            </Match>
                                            <NotMatch>
                                                <ErrorResponseAlert />
                                            </NotMatch>
                                        </Condition>
                                        
                                   </div>

                                   
                               </LoadingView>

                           </div>
                       </div>

                       <ModalDialog @ref="ChangeRoleModalDialog">
                           <Title>
                               Zmień typ użytkownika
                           </Title>
                           <Body>
                               <AlertGroupBase @ref="ChangeRoleAlertGroup">
                                   <AlertBase @ref="ChangeRoleSuccessAlert" Class="alert alert-success">
                                       Pomyślnie zmieniono typ użytkownika!
                                   </AlertBase>
                                    <AlertBase @ref="ChangeRoleSameAlert" Class="alert alert-warning">
                                        Ten użytkownik ma już ustawiony wybrany typ użytkownika
                                    </AlertBase>
                                   <AlertBase @ref="ChangeRoleErrorAlert" Class="alert alert-danger">
                                       Coś poszło nie tak. Spróbuj ponownie później.
                                   </AlertBase>
                               </AlertGroupBase>

                               <div>
                                   <label class="form-label">Typ użytkownika</label>
                                    <SelectEnumBase @ref="ChangeRoleSelect" TEnum="UserRole" @bind-Value="changeRole" />
                               </div>
                           </Body>
                           <Footer>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    Anuluj
                                </button>
                                <ButtonBase @ref="ChangeRoleButton" Class="btn btn-primary" OnClick="HandleChangeRoleAsync">
                                    Zapisz
                                </ButtonBase>
                           </Footer>
                       </ModalDialog>
                    </Match>
                    <NotMatch>
                        <ErrorResponseAlert />
                    </NotMatch>
                </Condition>
            </LoadingView>
        </Authorized>
        <NotAuthorized>
            <NotAuthorizedAlert />
        </NotAuthorized>
    </CustomAuthorizeView>

</MainLayoutBody>