<LoadingView State="Reservations">
    <table class="table table-bordered caption-top">
        <caption>List of your reservations</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Show</th>
                <th scope="col">Row</th>
                <th scope="col">Number</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <Iterations Items="Reservations.OrderByDescending(x => x.CreateDate)">
                <tr>
                    <th scope="row">
                        <a href="/account/reservations/@context.Id">
                            @context.Id
                        </a>
                    </th>
                    <td>
                        <a href="/shows/@context.Show.Id">
                            @context.Show.Name
                        </a>
                    </td>
                    <td>@context.Seat.Row</td>
                    <td>@context.Seat.Number</td>
                    <td>@context.Status</td>
                </tr>
            </Iterations>
        </tbody>
    </table>
</LoadingView>