<ul class="list-group mb-2">
    <li class="list-group-item disabled" aria-disabled="true">Reservation</li>
    <li class="list-group-item">
        <span class="fw-bold">
            ID:
        </span>
        <span>
            @Reservation.Id
        </span>
    </li>
    <li class="list-group-item">
        <span class="fw-bold">
            Create Date:
        </span>
        <span>
            @Reservation.CreateDate
        </span>
    </li>
    <li class="list-group-item">
        <span class="fw-bold">
            Status
        </span>
        <span>
            @Reservation.Status
        </span>
    </li>
    <li class="list-group-item">
        <span class="fw-bold">
            Full Name:
        </span>
        <span>
            @Reservation.User.FirstName @Reservation.User.LastName
        </span>
    </li>
</ul>
<ul class="list-group mb-2">
    <li class="list-group-item disabled" aria-disabled="true">Show</li>
    <li class="list-group-item">
        <span class="fw-bold">
            Name:
        </span>
        <span>
            @Reservation.Show.Name
        </span>
    </li>
    <li class="list-group-item">
        <span class="fw-bold">
            Date:
        </span>
        <span>
            @Reservation.Show.StartDateTime.LocalDateTime.ToLongDateString()
        </span>
    </li>
    <li class="list-group-item">
        <span class="fw-bold">
            Start Time:
        </span>
        <span>
            @Reservation.Show.StartDateTime.LocalDateTime.ToLongTimeString()
        </span>
    </li>
</ul>

<ul class="list-group mb-2">
    <li class="list-group-item disabled" aria-disabled="true">Seat</li>
    <li class="list-group-item">
        <span class="fw-bold">
            Auditorium:
        </span>
        <span>
            @Auditorium.Name
        </span>
    </li>
    <li class="list-group-item">
        <span class="fw-bold">
            Row:
        </span>
        <span>
            @Reservation.Seat.Row
        </span>
    </li>
    <li class="list-group-item">
        <span class="fw-bold">
            Number
        </span>
        <span>
            @Reservation.Seat.Number
        </span>
    </li>
</ul>