@inherits TextInputBase

<div class="input-group">
    <input 
        type="@GetInputType()"
        class="form-control @Class"
        @bind="Value" 
        @oninput="OnValueChanged" 
        placeholder="@Placeholder"
        disabled="@IsDisabled"
        required="@Required"
    />
    <span class="input-group-text" @onclick="HandleToggle" style="cursor: pointer;">
        <Condition Evaluation="showPassword">
            <Match>
                <i class="fa-solid fa-eye-slash"></i>
            </Match>
            <NotMatch>
                <i class="fa-solid fa-eye" style="width: 20px;"></i>
            </NotMatch>
        </Condition>
    </span>
</div>